<div class="mainComponent" id="hiddencomponent" (click)="playVideo()">
  <div class="video-background">
    <video
      #myVideo
      [autoplay]="true"
      [loop]="true"
      [muted]="true"
      id="video1"
      class="videoStyle video-bg"
    >
      <source src="../../assets/v1.mp4" type="video/mp4" />
    </video>
  </div>
  <nav>
    <div class="Logo">
      <img src="../../assets/updates.png" alt="" />
    </div>
    <div class="navItems">
      <div class="navbar">
        <a href="#">Home</a>
        <a href="#eventSection">Events</a>
        <a href="#timeTable">Schedule</a>
        <a href="#coOrdinators">Co-ordinators</a>
        <a href="#developersSection">Developers</a>
      </div>
    </div>
    <div class="toggleDisplay">
      <div class="dropdown">
        <button
          class="btn btn-secondary"
          style="background-color: transparent; border: none; box-shadow: none"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-right"
          style="
            background-color: #161616;
            border-color: #161616;
            min-height: 300px;
          "
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item" href="#">Home</a>
          <a class="dropdown-item" href="#eventSection">Events</a>
          <a class="dropdown-item" href="#timeTable">Schedule</a>
          <a class="dropdown-item" href="#coOrdinators">Co-ordinators</a>
          <a class="dropdown-item" href="#developersSection">Developers</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="promo-background">
    <video
      #myVideo2
      [autoplay]="true"
      [muted]="true"
      id="video2"
      class="promoStyle"
    >
      <source src="../../assets/promo.mp4" type="video/mp4" />
    </video>
  </div>

  <!-- SPONSOR SECTION -->
  <section class="slider-container titleMrg">
    <div class="mainTitle">
      <h1 class="title">Sponsor</h1>
    </div>
    <div class="slider">
      <div class="slide-track">
        <div class="img-container">
          <img class="img1 sponserImg" src="../../assets/Sponsers/1.png" />
          <img class="img1 sponserImg" src="../../assets/Sponsers/2.png" />
          <img class="img1 sponserImg" src="../../assets/Sponsers/3.png" />
          <img class="img1 sponserImg" src="../../assets/Sponsers/4.png" />
          <img class="img1 sponserImg" src="../../assets/Sponsers/5.png" />
          <img class="img1 sponserImg" src="../../assets/Sponsers/6.png" />

          <div class="arrows">
            <svg
              class="prev"
              onclick="onClickPrev()"
              viewBox="0 0 256 512"
              width="100"
              title="angle-left"
            >
              <path
                d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"
              />
            </svg>
            <svg
              class="next"
              onclick="onClickNext()"
              viewBox="0 0 256 512"
              width="100"
              title="angle-right"
            >
              <path
                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="event-container titleMrg" id="eventSection">
    <div class="mainTitle">
      <h1 class="title">Events</h1>
    </div>
    <div class="event-card-container">
      <div class="event-card" *ngFor="let event of posters" id="eventCard">
        <div class="event-img">
          <img
            [src]="event.img"
            (click)="navigateTo(event.id)"
            id="codeOne"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div id="timeTable" class="titleMrg">
    <div class="schedule">
      <div class="mainTitle">
        <h1 class="title">Event Schedule</h1>
      </div>
      <div class="timeTable">
        <img src="../../assets/eventSchedule.jpg" alt="" />
      </div>
    </div>
  </div>

  <!-- <div class="developersContainer titleMrg">
        <div class="mainTitle">
            <h1 class="title facTitle">FACULTY COORDINATORS</h1>
        </div>
        <div class="faculties">
            <div class="faculty developer">
                <div class="developerImg">
                    <img src="../../assets/FacultyCoordinators/vandanaJoshi.jpeg" alt="">
                </div>
                <p class="devName">Prof. Vandana joshi</p>
            </div>
            <div class="faculty developer">
                <div class="developerImg">
                    <img src="../../assets/FacultyCoordinators/nitiyaKomalan.jpeg" alt="">
                </div>
                <p class="devName">Ms. Nitya komalan</p>
            </div>
            <div class="faculty developer">
                <div class="developerImg">
                    <img src="../../assets/FacultyCoordinators/yuktiDesai.jpeg" alt="">
                </div>
                <p class="devName">Ms. Yuti Desai</p>
            </div>
        </div>
    </div> -->

  <div class="developersContainer mrgTop40" id="coOrdinators">
    <div class="mainTitle">
      <h1 class="title">Main Coordinators</h1>
    </div>
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide mainCoordinatorCarousel displayNoneOn650"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/akshay.jpeg" alt="" />
              </div>
              <p class="devName">Akshay Golakiya</p>
            </div>
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/smit.jpg" alt="" />
              </div>
              <p class="devName">Smit Pansuriya</p>
            </div>
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/ayush.jpeg" alt="" />
              </div>
              <p class="devName">Ayush Kayasth</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/ansh.jpg" alt="" />
              </div>
              <p class="devName">Ansh Mangukiya</p>
            </div>
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/krish.jpg" alt="" />
              </div>
              <p class="devName">Krish Padmani</p>
            </div>
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/priya.jpeg" alt="" />
              </div>
              <p class="devName">Priya Sisodiya</p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div
      id="carouselExampleAutoplaying1"
      class="carousel slide mainCoordinatorCarousel displayshowOn650"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/akshay.jpeg" alt="" />
              </div>
              <p class="devName">Akshay Golakiya</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/smit.jpg" alt="" />
              </div>
              <p class="devName">Smit Pansuriya</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/ayush.jpeg" alt="" />
              </div>
              <p class="devName">Ayush Kayasth</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/ansh.jpg" alt="" />
              </div>
              <p class="devName">Ansh Mangukiya</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/krish.jpg" alt="" />
              </div>
              <p class="devName">Krish Padmani</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img src="../../assets/MainCoordinators/priya.jpeg" alt="" />
              </div>
              <p class="devName">Priya Sisodiya</p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying1"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying1"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="developersContainer titleMrg" id="developersSection">
    <div class="mainTitle">
      <h1 class="title">Faculty Coordinators</h1>
    </div>
    <div class="developers displayNoneOn650Developers">
      <div class="developer">
        <div class="developerImg">
          <img
            src="../../assets/FacultyCoordinators/Bhumika Bhatt.png"
            alt=""
          />
        </div>
        <p class="devName">Bhumika Bhatt</p>
      </div>
      <div class="developer">
        <div class="developerImg">
          <img
            src="../../assets/FacultyCoordinators/MsPracheePatel.jpg"
            alt=""
          />
        </div>
        <p class="devName">Prachee Patel</p>
      </div>
      <div class="developer">
        <div class="developerImg">
          <img
            src="../../assets/FacultyCoordinators/Nancy Sukhadia.jpg"
            alt=""
          />
        </div>
        <p class="devName">Nency Sukhadia</p>
      </div>
    </div>

    <div
      id="carouselExampleAutoplaying4"
      class="carousel slide mainCoordinatorCarousel displayShowOn650Developers"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="developers">
            <div class="developer">
              <div class="developerImg">
                <img
                  src="../../assets/FacultyCoordinators/Bhumika Bhatt.png"
                  alt=""
                />
              </div>
              <p class="devName">Bhumika Bhatt</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img
                  src="../../assets/FacultyCoordinators/MsPracheePatel.jpg"
                  alt=""
                />
              </div>
              <p class="devName">Prachee Patel</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div class="developer">
              <div class="developerImg">
                <img
                  src="../../assets/FacultyCoordinators/Nancy Sukhadia.jpg"
                  alt=""
                />
              </div>
              <p class="devName">Nency Sukhadia</p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="developersContainer titleMrg" id="developersSection">
    <div class="mainTitle">
      <h1 class="title">Web Developers</h1>
    </div>
    <div class="developers displayNoneOn650Developers">
      <div
        class="developer"
        (click)="goToLink('https://github.com/davdapritam')"
      >
        <div class="developerImg">
          <img src="../../assets/webTeam/pritamdavda.jpg" alt="" />
        </div>
        <p class="devName">Davda Pritam</p>
      </div>
      <div
        class="developer"
        (click)="goToLink('https://github.com/jigneshbhai')"
      >
        <div class="developerImg">
          <img src="../../assets/webTeam/jignesh.jpg" alt="" />
        </div>
        <p class="devName">Jighnesh Baldaniya</p>
      </div>
      <div
        class="developer"
        (click)="goToLink('https://github.com/abhiradadiya07')"
      >
        <div class="developerImg">
          <img src="../../assets/webTeam/abhishek.jpg" alt="" />
        </div>
        <p class="devName">Abhishek Radadiya</p>
      </div>
    </div>

    <div
      id="carouselExampleAutoplaying2"
      class="carousel slide mainCoordinatorCarousel displayShowOn650Developers"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="developers">
            <div
              class="developer"
              (click)="goToLink('https://github.com/davdapritam')"
            >
              <div class="developerImg">
                <img src="../../assets/webTeam/pritamdavda.jpg" alt="" />
              </div>
              <p class="devName">Davda Pritam</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div
              class="developer"
              (click)="goToLink('https://github.com/jigneshbhai')"
            >
              <div class="developerImg">
                <img src="../../assets/webTeam/jignesh.jpg" alt="" />
              </div>
              <p class="devName">Jighnesh Baldaniya</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="developers mainCoodinator">
            <div
              class="developer"
              (click)="goToLink('https://github.com/abhiradadiya07')"
            >
              <div class="developerImg">
                <img src="../../assets/webTeam/abhishek.jpg" alt="" />
              </div>
              <p class="devName">Abhishek Radadiya</p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying2"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying2"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <section class="team">
    <div class="mainTitle">
      <h1 class="title">Poster Team</h1>
    </div>
    <div class="PosterTeam">
      <div class="container displayNoneOn650Developers">
        <div class="profile" *ngFor="let team of posterMakingTeam">
          <img [src]="team.img" alt="" /><span class="name">{{
            team.name
          }}</span>
        </div>
      </div>
      <div
        id="carouselExampleAutoplaying3"
        class="carousel slide mainCoordinatorCarousel displayShowOn650Developers"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="profile posterProfile">
                <img src="../../assets/Postermaking/nehul.png" alt="" /><span
                  class="name"
                  >Nehul Vasava</span
                >
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Postermaking/Drashti_Gor.png"
                  alt=""
                /><span class="name">Drashti Gor</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Postermaking/Shruti_Savani.png"
                  alt=""
                /><span class="name">Shruti Savani</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Postermaking/Abdul_Kadir.png"
                  alt=""
                /><span class="name">Abdul Kadir</span>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="profile posterProfile">
                <img
                  src="../../assets/Postermaking/Kirtan_Kothwala.png"
                  alt=""
                /><span class="name">Kirtan Kothwala</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Postermaking/Jiya_Patel.png"
                  alt=""
                /><span class="name">Jiya Patel</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Postermaking/Prerna_Gattani.png"
                  alt=""
                /><span class="name">Prerna Gattani</span>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying3"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying3"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <section class="team">
    <div class="mainTitle">
      <h1 class="title">Marketing Team</h1>
    </div>
    <div class="PosterTeam">
      <div class="container displayNoneOn650Developers">
        <div class="profile" *ngFor="let team of marketingTeam">
          <img [src]="team.img" alt="" /><span class="name">{{
            team.name
          }}</span>
        </div>
      </div>
      <div
        id="carouselExampleAutoplaying5"
        class="carousel slide mainCoordinatorCarousel displayShowOn650Developers"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Aarohi_Desai.png"
                  alt=""
                /><span class="name">Aarohi Desai</span>
              </div>
              <div class="profile posterProfile">
                <img src="../../assets/Marketing/Aryan Mehta.png" alt="" /><span
                  class="name"
                  >Aryan Mehta</span
                >
              </div>
              <div class="profile posterProfile">
                <img src="../../assets/Marketing/Brahmi_Shah.png" alt="" /><span
                  class="name"
                  >Brahmi Shah</span
                >
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Keshvi_Choksi.png"
                  alt=""
                /><span class="name">Keshvi Choksi</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Ria_Kangariwala.png"
                  alt=""
                /><span class="name">Ria Kangariwala</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Riddhika_Cheruku.png"
                  alt=""
                /><span class="name">Riddhika Cheruku</span>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Vansh_Golakiya.png"
                  alt=""
                /><span class="name">Vansh Golakiya</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Varoon_Soneji.png"
                  alt=""
                /><span class="name">Varoon Soneji</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Vishwaa_Shah.png"
                  alt=""
                /><span class="name">Vishwaa Shah</span>
              </div>  
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying5"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying5"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <section class="team">
    <div class="mainTitle">
      <h1 class="title">Marketing Team</h1>
    </div>
    <div class="PosterTeam">
      <div class="container displayNoneOn650Developers">
        <div class="profile" *ngFor="let team of marketingTeam">
          <img [src]="team.img" alt="" /><span class="name">{{
            team.name
          }}</span>
        </div>
      </div>
      <div
        id="carouselExampleAutoplaying5"
        class="carousel slide mainCoordinatorCarousel displayShowOn650Developers"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Aarohi_Desai.png"
                  alt=""
                /><span class="name">Aarohi Desai</span>
              </div>
              <div class="profile posterProfile">
                <img src="../../assets/Marketing/Aryan Mehta.png" alt="" /><span
                  class="name"
                  >Aryan Mehta</span
                >
              </div>
              <div class="profile posterProfile">
                <img src="../../assets/Marketing/Brahmi_Shah.png" alt="" /><span
                  class="name"
                  >Brahmi Shah</span
                >
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Keshvi_Choksi.png"
                  alt=""
                /><span class="name">Keshvi Choksi</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Ria_Kangariwala.png"
                  alt=""
                /><span class="name">Ria Kangariwala</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Riddhika_Cheruku.png"
                  alt=""
                /><span class="name">Riddhika Cheruku</span>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Vansh_Golakiya.png"
                  alt=""
                /><span class="name">Vansh Golakiya</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Varoon_Soneji.png"
                  alt=""
                /><span class="name">Varoon Soneji</span>
              </div>
              <div class="profile posterProfile">
                <img
                  src="../../assets/Marketing/Vishwaa_Shah.png"
                  alt=""
                /><span class="name">Vishwaa Shah</span>
              </div>  
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying5"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying5"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <footer>
    <div class="footerContent">All Rights Reserved By Scet - CO DEPARTMENT</div>
  </footer>
</div>
