<div class="mainComponent" id="hiddencomponent" (click)="playVideo()">
    <div class="video-background">
        <video #myVideo [autoplay]="true" [loop]="true" [muted]="true" id="video1" class="videoStyle video-bg">
            <source src="../../assets/v1.mp4" type="video/mp4">
        </video>
    </div>
    <nav>
        <div class="Logo">
            <img src="../../assets/updates.png" alt="">
        </div>
        <div class="navItems">
            <div class="navbar">
                <a href="#">Home</a>
                <a href="#eventSection">Events</a>
                <a href="#timeTable">Schedule</a>
                <!-- <a href="#coOrdinators">Co-ordinators</a> -->
                <!-- <a href="#developersSection">Developers</a> -->
            </div>
        </div>
        <div class="toggleDisplay">
            <div class="dropdown">
                <button class="btn btn-secondary"
                    style="background-color: #161616; border-color: #161616; box-shadow: none;" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right"
                    style="background-color: #161616; border-color: #161616; min-height: 300px;"
                    aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Home</a>
                    <a class="dropdown-item" href="#eventSection">Events</a>
                    <a class="dropdown-item" href="#timeTable">Schedule</a>
                    <a class="dropdown-item" href="#coOrdinators">Co-ordinators</a>
                    <a class="dropdown-item" href="#developersSection">Developers</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="promo-background">
        <video #myVideo2 [autoplay]="true" [muted]="true" id="video2" class="promoStyle">
            <source src="../../assets/promo.mp4" type="video/mp4">
        </video>
    </div>

    <!-- SPONSOR SECTION -->
    <!-- <section class="slider-container titleMrg">
        <div class="mainTitle">
            <h1 class="title">Sponsor</h1>
        </div>
        <div class="slider">
            <div class="slide-track">

                <div class="img-container">
                    <img class="img1 sponserImg" src="../../assets/Sponsers/1.PNG" />
                    <img class="img1 sponserImg" src="../../assets/Sponsers/2.jpg" />
                    <img class="img1 sponserImg" src="../../assets/Sponsers/3.JPG" />
                    <img class="img1 sponserImg" src="../../assets/Sponsers/4.jpg" />
                    <img class="img1 sponserImg" src="../../assets/Sponsers/5.JPG" />
                    <img class="img1 sponserImg" src="../../assets/Sponsers/6.JPG" />
                    <img class="img1 sponserImg" src="../../assets/Sponsers/7.JPG" />
                    <img class="img1 sponserImg" src="../../assets/Sponsers/8.JPG" />

                    <div class="arrows">
                        <svg class="prev" viewBox="0 0 256 512" width="100" title="angle-left">
                            <path
                                d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" />
                        </svg>
                        <svg class="next" viewBox="0 0 256 512" width="100" title="angle-right">
                            <path
                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="event-container titleMrg" id="eventSection">
        <div class="mainTitle">
            <h1 class="title">Events</h1>
        </div>
        <div class="event-card-container">

            <div class="event-card" *ngFor="let event of posters" id="eventCard">
                <div class="event-img">
                    <img [src]="event.img" (click)="navigateTo(event.id)" id="codeOne" alt="">
                </div>
            </div>

            <!-- <div class="rules_container editZ-index-0" id="codeTheOne-display">
                <div class="rules_div" id="rulesContainer">
                    <i class="fa fa-times-circle" onclick="CloseCodeClick()"></i>
                    <img src="../../assets/Rules/Rules_CodeTheOne.png" alt="rule" />
                    <button class='register-btn'
                        (click)="goToLink('https://forms.gle/p234XpsDjQ2thiaC8')">Register</button>
                </div>
            </div> -->

        </div>
    </div>

    <div id="timeTable" class="titleMrg">
        <div class="schedule">
            <div class="mainTitle">
                <h1 class="title">Event Schedule</h1>
            </div>
            <div class="timeTable">
                <img src="../../assets/eventSchedule.jpg" alt="">
            </div>
        </div>
    </div>

    <!-- <div id="coOrdinators" class="carouselContainer titleMrg"
            style="display: flex; justify-content: center; align-items: center;">
            <div class="mainTitle">
                <h1 class="title mainTit">MAIN COORDINATORS</h1>
            </div>
            <div class="corouselInside">

                <owl-carousel-o [options]="customOptions">

                    <ng-container *ngFor="let slide of mainCoordinators">
                        <ng-template carouselSlide>
                            <div class="profile-card">
                                <div class="profileImg">
                                    <img src="{{ slide.img }}" alt="image1" class="profile-icon" />
                                </div>
                                <div class="profile-name">{{ slide.name }}</div>
                            </div>
                        </ng-template>
                    </ng-container>

                </owl-carousel-o>
            </div>
        </div> -->

    <!-- <div class="developersContainer titleMrg">
        <div class="mainTitle">
            <h1 class="title facTitle">FACULTY COORDINATORS</h1>
        </div>
        <div class="faculties">
            <div class="faculty developer">
                <div class="developerImg">
                    <img src="../../assets/FacultyCoordinators/vandanaJoshi.jpeg" alt="">
                </div>
                <p class="devName">Prof. Vandana joshi</p>
            </div>
            <div class="faculty developer">
                <div class="developerImg">
                    <img src="../../assets/FacultyCoordinators/nitiyaKomalan.jpeg" alt="">
                </div>
                <p class="devName">Ms. Nitya komalan</p>
            </div>
            <div class="faculty developer">
                <div class="developerImg">
                    <img src="../../assets/FacultyCoordinators/yuktiDesai.jpeg" alt="">
                </div>
                <p class="devName">Ms. Yuti Desai</p>
            </div>
        </div>
    </div> -->

    <!-- <div class="developersContainer titleMrg" id="developersSection">
        <div class="mainTitle">
            <h1 class="title">Web Developers</h1>
        </div>
        <div class="developers">
            <div class="developer" (click)="goToLink('https://github.com/Maldicion')">
                <div class="developerImg">
                    <img src="../../assets/Screenshot 2022-09-21 at 11.25.41 PM.png" alt="">
                </div>
                <p class="devName">Davda Pritam</p>
            </div>
            <div class="developer" (click)="goToLink('https://github.com/JASH-PATEL-6566')">
                <div class="developerImg">
                    <img src="../../assets/Screenshot 2022-09-24 at 9.25.59 PM.png" alt="">
                </div>
                <p class="devName">Jash Patel</p>
            </div>
        </div>
    </div> -->

    <!-- <section class="team">
        <h2 class="section-heading">Our Team</h2>
        <div class="container">
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                    alt="" /><span class="name">Kalyan</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1530577197743-7adf14294584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                    alt="" /><span class="name">Suchitra Tiwari</span>
            </div>

            <div class="profile">
                <img src="https://images.unsplash.com/photo-1598641795816-a84ac9eac40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                    alt="" /><span class="name">Sajid Ghani</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                    alt="" /><span class="name">Dhriti</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1618018352910-72bdafdc82a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                    alt="" /><span class="name">Milind</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=801&q=80"
                    alt="" /><span class="name">Srikant Tiwari</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1485206412256-701ccc5b93ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80"
                    alt="" /><span class="name">Major Sameer</span>
            </div>
        </div>
        <div class="container">
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                    alt="" /><span class="name">Kalyan</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1530577197743-7adf14294584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                    alt="" /><span class="name">Suchitra Tiwari</span>
            </div>

            <div class="profile">
                <img src="https://images.unsplash.com/photo-1598641795816-a84ac9eac40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                    alt="" /><span class="name">Sajid Ghani</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                    alt="" /><span class="name">Dhriti</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1618018352910-72bdafdc82a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                    alt="" /><span class="name">Milind</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=801&q=80"
                    alt="" /><span class="name">Srikant Tiwari</span>
            </div>
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1485206412256-701ccc5b93ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80"
                    alt="" /><span class="name">Major Sameer</span>
            </div>
        </div>
    </section> -->

    <!-- <div class="spContainer titleMrg">
        <div class="mainTitle">
            <h1 class="title">Special Thanks To</h1>
        </div>
        <div class="tab-wrap">

            <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
            <label for="tab1">Marketing Team</label>

            <input type="radio" id="tab2" name="tabGroup1" class="tab">
            <label for="tab2">Decoration Team</label>

            <input type="radio" id="tab3" name="tabGroup1" class="tab">
            <label for="tab3">Design Team</label>

            <div class="tab__content">
                <h5>Akshay Golakiya</h5>
                <h5>Halima Rajwani</h5>
                <h5>Smit Pansuriya</h5>
                <h5>Nandish Saraiya</h5>
                <h5>Vishwa Shah</h5>
                <h5>Tanisha Javeri</h5>
                <h5>Krish Rana</h5>
                <h5>Hetvi Vaghasiya</h5>
                <h5>Birva Shah</h5>
                <h5>Milan Golakiya</h5>
                <h5>Aarohi Desai</h5>
                <h5>Dev Patel</h5>
            </div>

            <div class="tab__content">
                <h5>Helly Diyora</h5>
                <h5>Hetvi Jariwala</h5>
                <h5>Devanshi Mistry</h5>
                <h5>Priyal Mehta</h5>
                <h5>Drashti Bhingaradiya</h5>
                <h5>Aastha Savaliya</h5>
                <h5>Krisha Bhingaradiya</h5>
                <h5>Priyanshi Kalasariya</h5>
                <h5>Ricky Vashi</h5>
                <h5>Drashti Godhani</h5>
                <h5>Dhruvi Dobariya</h5>
                <h5>Pooja Pandit</h5>
                <h5>Naiya Patel</h5>
            </div>

            <div class="tab__content">
                <h5>Takshil Kunadia</h5>
                <h5>Kushal Jasani</h5>
                <h5>Shruti Savani</h5>
                <h5>Drashti Gor</h5>
                <h5>Helly Patel</h5>
                <h5>Aamena Mulla</h5>
                <h5>Jensi Akbari</h5>
                <h5>Nandini Patel</h5>
            </div>

        </div>

    </div> -->


    <footer>
        <div class="footerContent">All Rights Reserved By Scet - CO DEPARTMENT</div>
    </footer>


</div>